{% import 'macros.tmpl' as macros %}
#include "func_ptr_types.h"

{% for func in fn_list if 'nogen' not in func.flags -%}
extern "C" {{func.ret~" "~func.name}}({{macros.fn_arg_def(func)}})
{
    {% if "vararg" in func.flags -%}
    static {{func.real_func|upper}}_POINTER func_ptr = NULL;
    {%- else -%}
    static {{func.name|upper}}_POINTER func_ptr = NULL;
    {%- endif %}

    TrackErrno err_obj(errno);

    if (!func_ptr)
        {% if "vararg" in func.flags -%}
        func_ptr = ({{func.real_func|upper}}_POINTER)(ProcUtils::get_sym_addr("{{func.real_func}}"));
        {%- else -%}
        func_ptr = ({{func.name|upper}}_POINTER)(ProcUtils::get_sym_addr("{{func.name}}"));
        {%- endif %}

    {% if "vararg" in func.flags -%}
    va_list va_args;
    va_start(va_args, {{(func.args|last).name}});
    {%- endif %}

    if (ProcUtils::test_and_set_flag(true)) {
        errno = 0;

        {{macros.fn_call(func)}}

        err_obj = errno;

        {% if "vararg" in func.flags -%}
        va_end(va_args);
        {%- endif %}
        {{macros.return_func(func)}}
    }

    {% for arg in func.args if 'read' in arg.flags -%}
    {%- if arg.type == "FILE *" -%}
    int {{arg.name}}_fd = -1;
    if ({{arg.name}}) {{arg.name}}_fd = fileno({{arg.name}});
    {%- endif -%}
    {%- endfor %}
    uint64_t start_time = ProcUtils::get_time();
    
    errno = 0;
    {{macros.fn_call(func)}}
    int errno_value = errno;

    err_obj = errno;

    uint64_t end_time = ProcUtils::get_time();

    {% if "vararg" in func.flags -%}
    va_end(va_args);
    {%- endif %}

    FuncInfoMessage *func_msg = static_cast<FuncInfoMessage*>(
                        ProcUtils::get_proto_msg(PayloadType::FUNCINFO_MSG));

    /*
      Keep interposition turned off
      if object is not allocated
    */
    if (!func_msg)
    {
        {% if func.ret != "void" -%}
        return ret;
        {%- else -%}
        return;
        {%- endif %}
    }

    {% if func.args|capture_arg %}KVPair* tmp_arg;{% endif %}
    {% for arg in func.args if 'read' in arg.flags %}
    tmp_arg = func_msg->add_args();
    tmp_arg->set_key("{{arg.name}}");
    {% if arg.type == "char *" or arg.type == "const char *" -%}
    if ({{arg.name}})
    {
        {% if 'can' in arg.flags %}
        char {{arg.name}}_buf[PATH_MAX + 1] = "";
        tmp_arg->set_value(ProcUtils::canonicalise_path({{arg.name}}, {{arg.name}}_buf));
        {% elif 'abs' in arg.flags %}
        char {{arg.name}}_buf[PATH_MAX + 1] = "";
        tmp_arg->set_value(ProcUtils::abs_path({{arg.name}}, {{arg.name}}_buf));
        {% else %}
        tmp_arg->set_value({{arg.name}});
        {% endif %}
    }
    {%- elif arg.type == "FILE *" -%}
    char {{arg.name}}_fd_buf[MAX_INT32_LEN] = "";
    tmp_arg->set_value(ProcUtils::opus_itoa({{arg.name}}_fd, {{arg.name}}_fd_buf));
    {%- elif arg.type == "uid_t" -%}
    tmp_arg->set_value(ProcUtils::get_user_name({{arg.name}}));
    {%- elif arg.type == "gid_t" -%}
    tmp_arg->set_value(ProcUtils::get_group_name({{arg.name}}));
    {%- else -%}
    char {{arg.name}}_buf[MAX_INT32_LEN] = "";
    tmp_arg->set_value(ProcUtils::opus_itoa({{arg.name}}, {{arg.name}}_buf));
    {%- endif -%}
    {%- endfor %}

    {% if func.ret == "FILE *" -%}
    int ret_val = -1;
    if (ret) ret_val = fileno(ret);
    set_func_info_msg(func_msg, "{{func.name}}", ret_val, start_time, end_time, errno_value);
    {%- elif func.ret != "char *" and func.ret != "void" -%}
    set_func_info_msg(func_msg, "{{func.name}}", ret, start_time, end_time, errno_value);
    {%- else -%}
    set_func_info_msg(func_msg, "{{func.name}}", start_time, end_time, errno_value);
    {%- endif %}

    bool comm_ret = set_header_and_send(*func_msg, PayloadType::FUNCINFO_MSG);

    /*
        If the message is successfully sent
        we keep interposition turned on.
    */
    ProcUtils::test_and_set_flag(!comm_ret);
    func_msg->Clear();
    {{macros.return_func(func)}}
}

{% endfor %}

void opus_init_libc_funcs(void)
{
    {% for func in fn_list %} ProcUtils::add_sym_addr("{{func.name}}");
    {% endfor %}
}
