{% import 'macros.tmpl' as macros -%}
#ifndef SRC_FRONTEND_INTERPOSELIB_FUNC_PTR_TYPES_H_
#define SRC_FRONTEND_INTERPOSELIB_FUNC_PTR_TYPES_H_

{% for func in fn_list %}
{{macros.fn_ptr_type(func)}}
{% endfor %}

#endif  // SRC_FRONTEND_INTERPOSELIB_FUNC_PTR_TYPES_H_
