#
#LaTeX Ignores
#
*.log
*.aux
*.pdf
*.pyg


#
#Ignore Temp Files
#
*~

#
#Ignore Config Files
#
src/backend/config.yaml

#
#C Ignores
#
*.o
*.so
lib
include

#
#Specific C excludes
#
src/protobuf/uds_msg.pb.*
src/frontend/interposelib/uds_msg.pb.*
src/frontend/interposelib/a.out

#
#Specific Py excludes
#
src/protobuf/uds_msg_pb2.py
src/backend/opus/uds_msg_pb2.py
