#
#LaTeX Ignores
#
*.log
*.aux
*.pdf
*.pyg


#
#Ignore Temp Files
#
*~

#
#Ignore Config Files
#
src/backend/config.yaml

#
#C Ignores
#
*.o
*.so
lib
include

#
#Protobuf Ignores
#
src/protobuf/*.h
src/protobuf/*.cc
src/protobuf/*.py

#
#Specific C excludes
#
src/frontend/interposelib/uds_msg.pb.*
src/frontend/interposelib/prov_db.pb.*
src/frontend/interposelib/a.out

#
#Specific Py excludes
#
src/backend/opus/*_pb2.py
